.container {
  background-color: var(--white);
  padding: 10% 10%;
}

.vaultImg {
  width: auto;
  height: 100px;
  float: left;
  padding-right: 10px;
}

.vaultDescription {
  line-height: 1.5;
  margin: 0;
}
