.container {
  background-color: var(--white);
  padding: 10% 5%;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.vaultImg {
  width: auto;
  height: 100px;
  float: left;
  padding-right: 10px;
}

.vaultDescription {
  line-height: 1.5;
  margin: 0;
}

// ######################### Desktop styles #############################
@media (min-width: 768px) {
  .container {
    background-color: transparent;
    padding: 5% 0;
  }

  .content {
    padding: 20px;
  }

  .vaultImg {
    height: 200px;
  }
}
