.hero {
  width: 100%;
  min-height: 70vh;
  background-color: var(--blue-lightest);
  overflow: hidden;
  position: relative;

  &Small {
    composes: hero;
    min-height: 40vh;
  }
}

.heroBg {
  min-height: inherit;
}
