.container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: var(--white);
}

.box {
  min-height: 150px;
  margin: 10px 0;
}

.h2 {
  font-size: 1.3em;
  color: var(--blue-darkest);
}

.p {
  line-height: 1.4;
}

.link {
  font-size: 0.9em;
  text-decoration: none;
  color: var(--blue-darkest);
  border-bottom: 1px solid var(--blue-darkest);
}
