.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}

.logo {
  width: 12vw;
  height: auto;
  margin: 0 10px;
}

.p {
  margin: 5px 0;
}
