.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: var(--blue-darkest);
  color: var(--blue-lightest);
  font-size: 0.5rem;
  font-weight: 300;
}

.linksContainer {
  display: inline-flex;
  align-items: center;
}

.link {
  color: var(--blue-lightest);
  text-decoration: none;
}
