.container {
  background-color: var(--blue-darkest);
  color: var(--blue-lightest);
  text-align: center;
}

.linksContainer {
  padding-top: 20px;
  border-bottom: 1px solid var(--blue-lightest);
}

.link {
  display: block;
  color: var(--blue-lightest);
  text-decoration: none;
  margin-bottom: 20px;
}

.copyright {
  background-color: var(--black);
  font-size: 0.8em;
  margin: 0;
  padding: 20px;
}
