.container {
  background-color: var(--blue-darkest);
  color: var(--blue-lightest);
  text-align: center;
}

.linksContainer {
  padding-top: 20px;
}

.link {
  display: block;
  font-size: 0.9em;
  font-weight: 300;
  color: var(--blue-lightest);
  text-decoration: none;
  margin-bottom: 20px;
}

.copyright {
  background-color: #031935;
  font-size: 0.8em;
  margin: 0;
  padding: 20px;
}
