.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  min-height: 600px;
  padding: var(--site-pd);
  background-color: var(--blue-lightest);
}

.p {
  font-size: 1.1em;
  font-weight: 500;
  color: var(--blue-darkest);
}

.worth {
  composes: p;

  display: flex;
  justify-content: space-between;
  max-width: 800px;
  font-weight: 600;
  margin-top: 60px;
}

.a {
  text-decoration: none;
  color: var(--blue-normal);
  display: block;
  margin-top: 20px;
}

// ######################### Desktop styles #############################
@media (min-width: 768px) {
  .container {
    padding: var(--site-pdLarge);
    background-color: var(--blue-lightest);
  }

  .h2 {
    display: block;
    color: var(--blue-darkest);
    margin-bottom: calc(var(--site-pd) * 2);
  }

  .p {
    padding-right: 0;
  }

  .price {
    color: var(--blue-darkest);
    background-color: transparent;
  }
}
