@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root {
  --blue-lightest: #e3f2ff;
  --blue-normal: #00377c;
  --blue-darkest: #021e42;
  --black: #000000;
  --white: #fcfcfc;
  --box-shadow: 0 2px 7px rgba(17, 17, 17, 0.175);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

.main {
  height: inherit;
  max-width: 800px;
}
